*
  box-sizing border-box

.app
  position relative

.board
  position absolute
  left 0
  top 0
  background dimgrey

  .grid
  .tile
    position absolute
    left 0
    top 0
    border 1px solid black
  .grid
    background #c1c1c1

.controller
  position absolute
  left 500px
  top 0

.help
  position absolute
  left 500px
  top 200px
